.container {
  border-bottom: 1px solid #e5e5e5;
  height: 3rem;
  /* max-width: 375px; */
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* left: 0;
  right: 0;
  top: 0;
  width: 100%;
  position: fixed; */
  position: relative;
}

.logo {
  padding: 20px;
}

.back {
  position: absolute;
  padding: 10px;
  right: 0;
  cursor: pointer;
}
