.container {
  background: #f3f3f3;
  height: 3rem;
  max-width: 1024px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.HeaderBox {
  margin: 0 20px;
  /* max-width: 375px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 10px;
  margin: 0 20px;
}

.login {
  display: flex;
  gap: 10px;
  margin: 0 20px;
}
