.container {
  margin: 30px 0;
  max-width: 375px;
  overflow: auto;
  padding: 8px;
}

.statinList {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #b5b5b5;
  gap: 10px;
}

.statinList > div > button {
  right: 0;
  border: none;
  position: absolute;
  border-radius: 6px;
  padding: 4px 8px;
  background: white;
  border: 1px solid #b5b5b5;
}

.statinList > div {
  display: flex;
  align-items: center;
  position: relative;
  gap: 14px;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  padding: 4px0;
  padding: 8px 0;
}
.statinList > div > p {
  font-size: 14px;
}

.station {
  font-size: 14px;
  color: #a3a3a3;
}

.desc {
  font-size: 14px;
  color: #6e1b1b;
}
