.container {
  margin: 10px 0;
  overflow: auto;
  padding: 8px;
}

.title {
  text-align: center;
  line-height: 2;
}

.station {
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.station:hover {
}

.statinList {
  padding: 10px 0;
  border-bottom: 1px solid #b5b5b5;
}

.statinList > div > button {
  border-radius: 6px;
  padding: 4px 8px;
  background: white;
  border: 1px solid #b5b5b5;
}

.statinList > div {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 8px;
}

.desc {
  font-size: 14px;
  color: #6e1b1b;
}

.warring {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ff7171;
}

.titleBox {
  display: flex;
  align-items: center;
  gap: 10px;
  /* overflow: auto;
  white-space: nowrap;
  max-width: calc(100% - 86px); */
}

.stationInfo {
  display: flex;
}

.detailBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.detail {
  display: flex;
  align-items: center;
  gap: 10px;
}
